*.glb filter=lfs diff=lfs merge=lfs -text
*.gltf filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
public/videos/*.mp4 filter=lfs diff=lfs merge=lfs -text
{pattern} filter=lfs diff=lfs merge=lfs -text
public/videos/Video_MT-03_Full.mp4 filter=lfs diff=lfs merge=lfs -text
