@import "tailwindcss";



@theme inline {
  --color-lorenzo-green: #cbfe00;
  --color-lorenzo-dark: #212121;
  --color-lorenzo-gray: #e6e6e6;
}


:root {
  --background: var(--color-lorenzo-gray);
  --foreground: var(--color-lorenzo-dark);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-lorenzo-dark);
    --foreground: var(--color-lorenzo-gray);
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}
