@import "tailwindcss";

@theme inline {
  --color-lorenzo-green: #cbfe00;
  --color-lorenzo-dark: #212121;
  --color-lorenzo-gray: #e6e6e6;
  --color-lorenzo-medigray: #e0e0e0;
  --color-lorenzo-lightgray: #c5c5c5;
  --color-lorenzo-medidark: #2B2B2B;
  --color-lorenzo-lightdark: #3A3A3A;
}

:root {
  --background: var(--color-lorenzo-gray);
  --foreground: var(--color-lorenzo-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-lorenzo-dark);
    --foreground: var(--color-lorenzo-gray);
  }
}

body{
  background: var(--background);
  color: var(--foreground);
}

*, button{
  text-transform: uppercase;

}

.mask-slider {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
.mask-slider2 {
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
